body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Light grey background */
    color: #333; /* Dark text color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    width: 100%;
    margin: 20px;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
    color: #6c757d; /* Dark grey color */
    font-size: 2.5em;
    font-weight: bold;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #6c757d; /* Dark grey color */
}

input[type="file"], 
select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 12px 20px;
    background-color: #007bff; /* Bootstrap primary color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; /* Darker primary color */
}

.alert {
    margin-top: 20px;
}

/* Responsive styles */
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 2em;
    }

    button {
        font-size: 14px;
    }
}