<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid File Type</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center text-danger">Invalid File Type</h1>
        <p class="text-center mt-4">The file you uploaded is not supported. Please upload a valid video file.</p>
        <div class="text-center mt-4">
            <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg">Go back to the upload page</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>